﻿
<h2>Добавить или изменить фотографию:</h2>
<h3>Допустимые форматы: ".jpg", ".png", ".gif", ".jpeg"</h3>

@if (ViewBag.Error != null)
{
    <h3 class="text-danger">@ViewBag.Error</h3>
}

@using (Html.BeginForm("UploadImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*<input type="file" name="image" id="image" accept='image/*' class="btn btn-default" value="Выбрать" />*@
    <div class="form-group">
         <input type="file" name="image" id="image" class="btn btn-default btn-file" accept='image/*' />
    </div>
    <div class="form-group">
        <input type="submit" value="Загрузить" class="submit btn btn-default" />
    </div>
}

