﻿@model FaceFind.Models.FollowersResult
<div>
    <h2>Страница подписок</h2>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#followers" aria-controls="home" role="tab" data-toggle="tab">Подписки</a></li>
        <li role="presentation"><a href="#followed" aria-controls="profile" role="tab" data-toggle="tab">Подпищики</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="followers">@Html.Partial("PersonList", Model.Followers)</div>
        <div role="tabpanel" class="tab-pane" id="followed">@Html.Partial("PersonList", Model.Followed)</div>
    </div>

</div>

@section Scripts
{
    <script src="~/Scripts/Site/GetAllPeople.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Site/DatepickerInit.js"></script>
    <script src="~/Scripts/Site/UserActions.js"></script>
}