﻿@model IEnumerable<FaceFind.Models.PersonVM>

@{
    ViewBag.Title = "People";
}

<h2>Все люди</h2>


<h3>Искать по:</h3>


@Html.Partial("PersonList", Model)

@section Scripts{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Site/DatepickerInit.js"></script>
    <script src="~/Scripts/Site/GetAllPeople.js"></script>
    <script src="~/Scripts/Site/UserActions.js"></script>
}