﻿@model FaceFind.Models.PersonVM
@{
    ViewBag.Title = "Index";

}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2>Информация о вас:</h2>
        @if (Model.HasPhoto)
        {

            ViewBag.UploadPhotoLinkText = "Изменить фотографию";
        }
        else
        {
            ViewBag.UploadPhotoLinkText = "Изменить фотографию";
        }

        @Html.DisplayFor(model => model)
        <div>
            @Html.ActionLink("Изменить информацию", "PersonEdit")
        </div>
        <div>
            @Html.ActionLink((string)ViewBag.UploadPhotoLinkText, "UploadImage", "Image")
        </div>
    </div>
    @if (User.IsInRole(FaceFind.Models.Role.BannedRoleTitle))
    {
    <div class="col-xs-12">
        <h1>Вас забанили</h1>
    </div>
    }
</div>
