﻿@model IEnumerable<FaceFind.Models.PersonVM>

<table class="table">
    <tr>
        <td></td>
        <td>
            <input type="text" placeholder="Имени" class="input-group filter filter-name" />
        </td>
        <td>
            <input type="text" placeholder="Фамилии" class="input-group filter filter-surname" />
        </td>
        <td>
            <input type="text" placeholder="Отчеству" class="input-group filter filter-secondname" />
        </td>
        <td>
            <input type="text" placeholder="Дате рождения от" class="input-group filter datepicker filter-birthday-min" />
            <input type="text" placeholder="Дате рождения до" class="input-group filter datepicker filter-birthday-min " />
        </td>
        <td>
            <input type="text" placeholder="Статусу" class="input-group filter filter-status" />
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            <span>Действия:</span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.Id" class="person">
            <td>
                <a href="@Url.Action("GetPerson","Home", new { personId = item.Id })"><img class="avatar-small" src="@Url.Action("DisplayUserImage","Image", new { personId = item.Id }) " /></a>
            </td>
            <td class="person-name">
                @(item.Name != null ? @Html.DisplayFor(modelItem => item.Name) : new MvcHtmlString("Не указано"))
            </td>
            <td class="person-surname">
                @(item.Surname != null ? @Html.DisplayFor(modelItem => item.Surname) : new MvcHtmlString("Не указано"))
            </td>
            <td class="person-secondName">
                @(item.SecondName != null ? @Html.DisplayFor(modelItem => item.SecondName) : new MvcHtmlString("Не указано"))
            </td>
            <td class="person-birthDay">
                @(item.BirthDay != null ? @Html.DisplayFor(modelItem => item.BirthDay) : new MvcHtmlString("Не указано"))
            </td>
            <td class="person-status">
                @(item.Status != null ? @Html.DisplayFor(modelItem => item.Status) : new MvcHtmlString("Не указано"))
            </td>
            <td>
                @if (ViewBag.CurrentPersonId != item.Id && !User.IsInRole(FaceFind.Models.Role.BannedRoleTitle))
                {
                    if ((ViewBag.UserFollowers as IEnumerable<Guid>).Any(id => id == item.Id))
                    {
                        <a href="#" title="Отписаться" class="unfollow-action btn btn-default" data-userid="@item.Id"><i class="glyphicon glyphicon-minus"></i></a>
                    }
                    else
                    {
                        <a href="#" title="Подписаться" class="follow-action btn btn-default" data-userid="@item.Id"><i class="glyphicon glyphicon-plus"></i></a>
                    }

                    <a class="btn btn-default" title="Отправить сообщение" href="/Messages/OpenDialog?personId=@item.Id"><i class="glyphicon glyphicon-envelope"></i></a>

                    if (ViewBag.CurrentPersonId != item.Id && (User.IsInRole(FaceFind.Models.Role.SuperAdminRoleTitle) || User.IsInRole(FaceFind.Models.Role.AdminRoleTitle)))
                    {
                        if ((ViewBag.BannedPersons as IEnumerable<Guid>).Any(id => id == item.Id))
                        {
                            <a href="#" title="Разбанить" class="unban-action btn btn-default" data-userid="@item.Id">Разбанить</a>
                        }
                        else
                        {
                            <a href="#" title="Забанить" class="ban-action btn btn-default" data-userid="@item.Id">Забанить</a>
                        }
                    }
                    if (ViewBag.CurrentPersonId != item.Id && User.IsInRole(FaceFind.Models.Role.SuperAdminRoleTitle))
                    {
                        if ((ViewBag.Admins as IEnumerable<Guid>).Any(id => id == item.Id))
                        {
                            <a href="#" title="Убрать админа" class="remove-admin-action btn btn-default" data-userid="@item.Id"><i class="glyphicon glyphicon-hand-down"></i></a>
                        }
                        else
                        {
                            <a href="#" title="Сделать админом" class="set-admin-action btn btn-default" data-userid="@item.Id"><i class="glyphicon glyphicon-hand-up"></i></a>
                        }
                    }
                }
            </td>



        </tr>
    }

</table>
