﻿@model FaceFind.Models.PersonVM
@{

}

@Html.EditorFor(model => model)

@section Scripts
{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Site/DatepickerInit.js"></script>
}
