﻿@model IEnumerable<FaceFind.Models.DialogVM>

@{
    ViewBag.Title = "Dialogs";
}

@if (Model.Count() == 0)
{
    <h2>
        Тут пока ничего нет...
    </h2>
}
else
{
    <h2>
        Сообщения
    </h2>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr data-id="@item.ID" class="dialog">
                <td>
                    <a href="@Url.Action("GetPerson", "Home", new { personId = item.ReceiverID })">
                        <img class="avatar-small" src="@Url.Action("DisplayUserImage", "Image", new { personId = item.ReceiverID }) " />
                        <i>@item.ReceiverName @item.ReceiverSurname</i>
                    </a>
                </td>
                @if (item.LastMessage != null)
                {
                    <td>

                        <span>
                            <img class="avatar-small" src="@Url.Action("DisplayUserImage", "Image", new { personId = item.LastMessage.From.Id }) " />
                        </span>
                        <span>
                            @item.LastMessage.Content
                        </span>

                    </td>
                    <td>
                        @item.LastMessage.SendDate.ToShortDateString() @item.LastMessage.SendDate.ToShortTimeString()
                    </td>
                }
                else
                {
                    <td colspan="2"><i>нет сообщений</i></td>
                }
            </tr>
        }

    </table>
}

@section Scripts{
    <script src="~/Scripts/Site/DialogsActions.js"></script>
}