﻿@model IEnumerable<FaceFind.Models.MessageVM>

@{
    ViewBag.Title = "Dialog";
}
<h2>
    Диалог
</h2>
<div>
    @using (Ajax.BeginForm("SendMessage", "Messages", new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.InsertBefore, UpdateTargetId = "ins" }))
    {
        <input type="text" name="Content" id="sendContent" />
        <input type="hidden" name="DialogId" value="@ViewBag.DialogId" />
        <button type="submit" id="sendBtn" class="btn btn-primary">Отправить</button>
    }
</div>
<div id="ins">
    @foreach (var item in Model)
    {
        <div class="message row">
            <div class="col-xs-3">
                <a href="@Url.Action("GetPerson", "Home", new { personId = item.SenderID })">
                    <img class="avatar-small" src="@Url.Action("DisplayUserImage", "Image", new { personId = item.SenderID }) " />
                    <i>@item.Name</i>
                </a>
            </div>
            <div class="col-xs-7">
                <span>@item.Content</span>
            </div>
            <div class="col-xs-2">
                @string.Format("{0} {1}", item.SendDate.ToShortDateString(), item.SendDate.ToShortTimeString())
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="~/Scripts/Site/DialogsActions.js"></script>
}