﻿@model FaceFind.Models.MessageVM
<div class="message row">
    <div class="col-xs-3">
        <a href="@Url.Action("GetPerson", "Home", new { personId = Model.SenderID })">
            <img class="avatar-small" src="@Url.Action("DisplayUserImage", "Image", new { personId = Model.SenderID }) " />
            <i>@Model.Name</i>
        </a>
    </div>
    <div class="col-xs-7">
        <span>@Model.Content</span>
    </div>
    <div class="col-xs-2">
        @string.Format("{0} {1}", Model.SendDate.ToShortDateString(), Model.SendDate.ToShortTimeString())
    </div>
</div>