﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.standart-navbarpaddings-vertical{
        padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.avatar{
    max-width: 100px;
    max-height: 300px;
}
.avatar-small
{
    max-height: 50px;
    max-width: 50px;
}