﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top row">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Домашняя страница", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Люди", "GetAllPeople", "Home", new { area = "" }, new { @class = "navbar-brand" })

                </div>
                <div class="navbar-collapse collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink(" Войти", "Login", "Account", new { area = "" }, new { @class = "glyphicon glyphicon-user standart-navbarpaddings-vertical" })
                            </li>
                            <li>
                                @Html.ActionLink(" Зарегистрироваться", "Register", "Account", new { area = "" }, new { @class = "glyphicon glyphicon-log-in standart-navbarpaddings-vertical" });
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink(" Подписки", "Followers", "Home", new { area = "" }, new { @class = "glyphicon glyphicon-heart standart-navbarpaddings-vertical" })
                            </li>
                            <li>
                                @Html.ActionLink(" Сообщения", "Dialogs", "Messages", new { area = "" }, new { @class = "glyphicon glyphicon-comment standart-navbarpaddings-vertical" })
                            </li>
                            <li>
                                @Html.ActionLink(" Выйти", "LogOff", "Account", new { area = "" }, new { @class = "glyphicon glyphicon-log-out standart-navbarpaddings-vertical" });
                            </li>
                            <li>
                                @Html.ActionLink(" Сменить пароль", "ChangePassword", "Account", new { area = "" }, new { @class = "glyphicon  glyphicon-book standart-navbarpaddings-vertical" });
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer class="bottom">
                    <p>&copy; @DateTime.Now.Year - FaceFind</p>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>