﻿@model FaceFind.Models.PersonVM

<a href="@Url.Action("DisplayUserImage", "Image", new { personId = Model.Id })"><img class="avatar" src="@Url.Action("DisplayUserImage","Image", new { personId = Model.Id }) " /></a>
<div>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Name != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        }
        @if (Model.Surname != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>
        }
        @if (Model.SecondName != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.SecondName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecondName)
            </dd>
        }
        @if (Model.BirthDay != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.BirthDay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthDay)
            </dd>
        }
        @if (Model.Status != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
        }
    </dl>
</div>
